{% extends 'layout::main.html.twig'|set_ds %}
{% block title %}
    Task tracker LightWork SAYs occurred error to you, sorry!
{% endblock %}
{% block section_caption %}
    500
{% endblock %}
{% block content %}
    <h1>Sorry, occurred error on server. Please, try again submit your request or contact to our administration.</h1>
{% endblock %}
