 <span class="table_form"><info>Вы действительно хотие <b>удалить</b> пользователя <b>{{ entity.username }}</b>?
 После завршения операции <b>восстановить</b> данного пользователя будет <b>невозможно</b>.</info></span>
 <span style="display: none;">{{ form(delete_form) }}</span>